<!DOCTYPE html>
<html>
<head>
  <title>ToDo List</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
    }

    #todo-form {
      margin-bottom: 20px;
    }

    #todo-list li.completed {
      text-decoration: line-through;
    }

  </style>
</head>
<body>
  <div class="container">
    <h1>ToDo List</h1>
    <form id="todo-form">
      <div class="form-group">
        <label for="todo-text">Add ToDo:</label>
        <input type="text" id="todo-text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <ul id="todo-list" class="list-group mt-3">
      <li><h3>list 1</h3></li>
      <li><h3>list 2</h3></li>
      <li><h3>list 3</h3></li>
    </ul>
  </div>
</body>
</html>
